body {
    font-family: "Montserrat" , sans-serif;
    background-color: #F8F8F8;
   margin: 0;
   
}
.page-header {
    width: 1180px;
    margin: 0 auto;
    padding: 30px 50px;
}

.nav-item a {
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-decoration: none;
}
.nav-item a:hover {
   color: rgba(247, 151, 39, 1);
}
.nav-item a:active {
    color: rgba(247, 151, 39, 0.7);

}
.nav-item .active-item {
    color: #F79727;
}
.main-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 980px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    align-items: center;
}
/* Изображение логотипа в разметке поместили в контейнер p.logo для контроля вертикальных размеров и отступов. Тегу <p> браузер по умолчанию устанавливает вертикальные отступы, обнулите их перед установкой высоты.

После обнуления отступов p.logo у изображения в контейнере остаётся избыточный отступ снизу, который влияет на высоту компонента. Этот отступ мы убираем с помощью нового приёма — фиксирования высоты контейнера p.logo. */
.logo {
    margin: 0;
    width: 65px;
    height: 65px;
    margin-right: 55px;
}
/* Без указания фиксированного значения высота элемента .signin будет установлена по содержимому. Содержимым ссылки в разметке указана иконка, которая выравнивается по базовой линии с учётом высоты строки. Без фиксированной высоты мы не получим точного совпадения с макетом. Высота иконки не изменится, поэтому мы можем безопасно зафиксировать оба размера элемента.

На этапе построения сетки мы задали фиксированную ширину логотипу и иконке, хотя ширина этих элементов соответствовала макету и без явного указания размера в стилях. Мы зафиксировали ширину сеточного элемента, чтобы сетка компонента соответствовала макету при случайной смене изображения в блоке. */
.signin {
    width: 25px;
    height: 25px;
    margin-left: auto;
}
.signin:hover {
    opacity: 0.7;
}
.signin:active {
    opacity: 0.5;
}